<h1>Boats#show</h1>
<p>Find me in app/views/boats/show.html.erb</p>

<h2>
	Boat Name: <%= @boat.name %>
	Location: <%= @boat.location %>
	Amount of Containers: <%= @boat.container_amount %>
	
</h2> <!--displays boat -->